.card-panel {
    transition: box-shadow .25s;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #c2ecff;
    transition: box-shadow .25s;
    border-radius: 2px;
}